{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p class="article-content" align="justify">Artemis is the first step in the next era of human exploration. Together with commercial and international partners, NASA will establish a sustainable presence on the Moon to prepare for missions to Mars.</p>
    <p class="article-content" align="justify">This blog will be a source of information on Artemis launch and exploration progress, covering updates across our science, technology and human exploration programs. Once we’re ready to fly, check out this blog for launch updates and other mission operations.</p>
{% endblock content %}